.section-about {
  padding: 10rem 0;
}

.section-features {
  padding: 20rem 0;

  background-image: linear-gradient(
      to right bottom,
      rgba($clr-primary-light, 0.8),
      rgba($clr-primary-dark, 0.8)
    ),
    url('../img/nat-4.jpg');
  background-size: cover;
  transform: skewX(-8deg) rotate(-8deg);

  & > * {
    transform: skewX(8deg) rotate(8deg);
  }

  .feature-box {
    background-color: rgba($clr-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    transition: all 0.3s;
    box-shadow: 0 1.5rem 4rem rgba($clr-black, 0.15);
    text-align: center;

    &:hover {
      transform: translateY(-1rem) scale(1.03);
    }

    // &__icon {
    // }

    &__text {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}

.section-tours {
  padding: 25rem 0 15rem 0;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}
